@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .primary-btn {
        @apply text-sm font-semibold border-[1px] border-black px-4 py-2 shadow-[5px_5px_0px_0px] duration-300;
    }
    .primary-btn:hover {
        @apply bg-black text-white shadow-[5px_5px_0px_0px_#6c6c6c];
    }
    @screen lg {
        .primary-btn {
            @apply text-base;
        }
    }
}

@layer base {
    .text-shadow {
        text-shadow: -6px 6px 10px rgba(0, 0, 0, 0.4);
    }
}

@layer utilities {
    .img-shadow {
        filter: drop-shadow(-6px 6px 10px rgba(0, 0, 0, 0.4));
    }
}
.style {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  @keyframes slide {
    from{
      transform:translate(0);
    }
    to{
      transform:translate(-100%)
    }
  }
  .logos{
    overflow:hidden;
    padding:60px 0 0 0;
    white-space:nowrap;
    position:relative;
  }
  .logos:before,
  .logos:after{
    position:absolute;
    top:0;
    left:0;
    width: 250px;
    height:100%;
    content:"";
    z-index: 2;
  }
  .logos:before{
    left:0;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
   
  }
  .logos:after{
    right:0;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
   
  }
   
  .logos-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
   
  }
  .logos:hover .logos-slide{
    animation-play-state:paused ;
  }
  .logos-slide img{
    height: 50px;
    margin:0 40px;
  }
  .arrow-button {
    transition: background-color 0.2s;
    width: 40px; /* Set a fixed width for arrow buttons */
    height: 40px; /* Set a fixed height for arrow buttons */
    display: flex; /* Flexbox to center the content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: rgba(255, 255, 255, 0.8); /* Light background for buttons */
    border: none; /* Remove default border */
    border-radius: 50%; /* Round buttons */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 10px 5px; /* Add margin around buttons */
  }
  
  .arrow-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Change background on hover */
  }
  
  /* Other existing styles remain unchanged */
  .embla {
    overflow: hidden;
    width: 100%;
    position: relative; /* Ensure the parent has relative positioning */
  }
  
  .embla__container {
    display: flex;
    gap: 1rem;
  }
  
  .embla__slide {
    min-width: 100%;
    transition: transform 0.3s;
  }
  
  .embla__slide img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
  
  .p-8 {
    padding: 2rem;
  }
  
  
  
  .text-white {
    color: white;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }