@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .primary-btn {
        @apply text-sm font-semibold border-[1px] border-black px-4 py-2 shadow-[5px_5px_0px_0px] duration-300;
    }
    .primary-btn:hover {
        @apply bg-black text-white shadow-[5px_5px_0px_0px_#6c6c6c];
    }
    @screen lg {
        .primary-btn {
            @apply text-base;
        }
    }
}

@layer base {
    .text-shadow {
        text-shadow: -6px 6px 10px rgba(0, 0, 0, 0.4);
    }
}

@layer utilities {
    .img-shadow {
        filter: drop-shadow(-6px 6px 10px rgba(0, 0, 0, 0.4));
    }
}
.style {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  @keyframes slide {
    from{
      transform:translate(0);
    }
    to{
      transform:translate(-100%)
    }
  }
  .logos{
    overflow:hidden;
    padding:60px 0 0 0;
    white-space:nowrap;
    position:relative;
  }
  .logos:before,
  .logos:after{
    position:absolute;
    top:0;
    left:0;
    width: 250px;
    height:100%;
    content:"";
    z-index: 2;
  }
  .logos:before{
    left:0;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
   
  }
  .logos:after{
    right:0;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
   
  }
   
  .logos-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
   
  }
  .logos:hover .logos-slide{
    animation-play-state:paused ;
  }
  .logos-slide img{
    height: 50px;
    margin:0 40px;
  }